@media (max-height: 499px) {
    body {
        align-items: flex-start;
    }
}

@media (max-height: 570px) and (max-width: 675px) {
    body {
        align-items: flex-start;
    }
}

@media (max-width: 675px) {
    .container {
        height: 530px;
        grid-template-rows: auto calc(40% - 35px) calc(25% - 35px);
    }

    .container header {
        flex-direction: column;
        justify-content: space-around;
    }
}