@media (max-height: 459px) {
    body {
        align-items: flex-start;
    }
}

@media (max-height: 540px) and (max-width: 625px) {
    body {
        align-items: flex-start;
    }
}

@media (max-width: 625px) {
    .container {
        height: 500px;
        grid-template-rows: auto calc(40% - 35px) calc(28% - 35px);
    }

    .container header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}